<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Probiotics Panel Request Form</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static' , filename='images/biomedl.png')  }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">


</head>

<body>

  <div class="logo">
    <img src="{{url_for('static' , filename='images/Biomed.png' ) }}" alt="">
  </div>

  <div class="form-body">
    <div class="row">
      <div class="form-holder">
        <div class="form-content">
          <div class="form-items">
            <h3 style="text-align: center;">12P Tailor-made Probiotics Panel Request Form</h3>

            <form id='myform' class="requires-validation" action="/submit-details" method="POST">

              <br><br>
              <p style="text-align: center;">Please Enter the number you see on the test kit</p>
              <div class="test-kit-number">
                <div class="kit-info">
                  <input class="form-control" type="text" name="name" id='name' placeholder="2024062045" id="kitnum"
                    required>
                </div>

                <div class="kit-image">
                  <img src="{{ url_for('static' , filename='images/demo.png' )}}" alt="">
                </div>
              </div>

              <br><br>
              <div class="">
                <input id="surname" class="form-control" type="text" name="surname" placeholder="Surname" required>

              </div>

              <div class="">
                <input class="form-control" type="text" name="given_name" placeholder="Given Name" required>
              </div>

              <div class="">
                <input class="form-control" type="text" name="chinese_name" placeholder="Chinese Name">
              </div>

              <div class="">
                <input class="form-control" type="text" name="hkid_number" placeholder="M123456(7)">
              </div>

              <div class="">
                <input class="form-control" type="text" name="passport_number"
                  placeholder="Pasport Number(only if no HKID)">
              </div>

              <div class="div-container">
                <label for="date_of_birth">Date of Birth: </label>
                <input class="form-control" type="date" name="date_of_birth" placeholder="26/12/1980" required>
              </div>

              <div class="div-container">
                <label class="mb-3 mr-1" for="gender">Gender: </label>
                <input type="radio" class="btn-check" name="gender" id="male" value="M" autocomplete="off" required>
                <label class="btn btn-sm btn-outline-secondary" for="male">Male</label>
                <input type="radio" class="btn-check" name="gender" id="female" value="F" autocomplete="off" required>
                <label class="btn btn-sm btn-outline-secondary" for="female">Female</label>
              </div>

              <div class="div-container">
                <input class="form-control" type="number" name="height" placeholder="Enter height in centimeters (185)"
                  required>
              </div>

              <div class="div-container">
                <input class="form-control" type="number" name="weight" placeholder="Enter weight in kilograms (80)"
                  required>
              </div>

              <div class="div-container">
                <input class="form-control" type="email" name="email" placeholder="E-mail Address" required>
              </div>

              <div class="div-container">
                <label class="mb-3 mr-1" for="ethnicity">Ethnicity: </label><br>
                <div class="choice_background">
                  <input type="radio" class="btn-check" name="ethnicity" id="chinese" value="Chinese" autocomplete="off"
                    required>
                  <label class="btn btn-sm btn-outline-secondary" for="chinese">Chinese</label>
                  <input type="radio" class="btn-check" name="ethnicity" id="east_asian" value="East Asian"
                    autocomplete="off" required>
                  <label class="btn btn-sm btn-outline-secondary" for="east_asian">East Asian</label>
                  <input type="radio" class="btn-check" name="ethnicity" id="southeast_asian" value="Southeast Asian"
                    autocomplete="off" required>
                  <label class="btn btn-sm btn-outline-secondary" for="southeast_asian">Southeast Asian</label>
                  <input type="radio" class="btn-check" name="ethnicity" id="african" value="African" autocomplete="off"
                    required>
                  <label class="btn btn-sm btn-outline-secondary" for="african">African</label>
                  <br>
                  <input type="radio" class="btn-check" name="ethnicity" id="european" value="European"
                    autocomplete="off" required>
                  <label class="btn btn-sm btn-outline-secondary" for="european">European</label>
                  <input type="radio" class="btn-check" name="ethnicity" id="north_american" value="North American"
                    autocomplete="off" required>
                  <label class="btn btn-sm btn-outline-secondary" for="north_american">North American</label>
                  <input type="radio" class="btn-check" name="ethnicity" id="south_american" value="South American"
                    autocomplete="off" required>
                  <label class="btn btn-sm btn-outline-secondary" for="south_american">South American</label>
                </div>
              </div>

              <div class="div-container">
                <label class="mb-3 mr-1" for="report_language">Report Language: </label><br>
                <input type="radio" class="btn-check" name="report_language" id="traditional_chinese"
                  value="Traditional Chinese" autocomplete="off" required>
                <label class="btn btn-sm btn-outline-secondary" for="traditional_chinese">Traditional Chinese</label>
                <input type="radio" class="btn-check" name="report_language" id="simplified_chinese"
                  value="Simplified Chinese" autocomplete="off" required>
                <label class="btn btn-sm btn-outline-secondary" for="simplified_chinese">Simplified Chinese</label>
                <input type="radio" class="btn-check" name="report_language" id='english' value="English"
                  autocomplete="off" required>
                <label class="btn btn-sm btn-outline-secondary" for="report_language">English</label>
              </div>

              <div class="div-container">
                <input class="form-control" type="text" name="postal_address" placeholder="Postal Address" required>
              </div>

              <div class="div-container">
                <input class="form-control" type="number" name="postal_code" placeholder="Postal Code">
              </div>

              <div class="div-container">
                <input class="form-control" type="number" name="phone_number" placeholder="Phone Number" required>
              </div>

              <div class="">
                <input class="form-control" type="text" name="medical_history" placeholder="Medical History" required>
              </div>

              <br><br>
              <div class="div-container">
                <label for="previous_test">Has participant ever participated in our test(s)?</label>
                <input type="radio" class="btn-check" name="previous_test" id="yes" value="yes" autocomplete="off"
                  required>
                <label class="btn btn-sm btn-outline-secondary" for="yes">Yes</label>
                <input type="radio" class="btn-check" name="previous_test" id="no" value="no" autocomplete="off"
                  required>
                <label class="btn btn-sm btn-outline-secondary" for="no">No</label>
              </div>

              <div class="div-container previous_info">
                <p>Only Fill this if you have previously taken the tests</p>
                <label for="previous_test_date">Previous Test Date: </label>
                <input class="form-control" type="date" name="previous_test_date" placeholder="26/12/2002">
                <input class="form-control" type="text" name="previous_test_performed"
                  placeholder="Name of Previous Test">
              </div>

              <br>
              <div class="div-container previous_info">
                <p style="text-align: center;">For Applicants under the age of 18</p>
                <input class="form-control" type="text" name="parent_name" placeholder="Parent Name">
                <input class="form-control" type="text" name="parent_hkid" placeholder="Parent HKID">
              </div>


              <div id="myModal" class="modal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <p style="text-align: center;">Please Confirm your input</p>
                  <div class="modal-input"></div>
                  <div id="confirmSubmit">Confirm Submission</div>
                  <div id="cancelSubmit">Edit Input</div>
                </div>
              </div>


              <div class="button-div">
                <button id="btnsubmit" type="submit" class="btn btn-primary">Register</button>
              </div>


            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>

    let testkitid = ''
    const form = document.querySelector('.requires-validation')
    const formdata = new FormData(form)
    document.querySelector('.requires-validation').addEventListener('submit', function (event) {
      event.preventDefault();
      document.getElementById('myModal').style.display = 'block';

      const data =
        `
<div class="qa-pair">
  <div class="quiestion_form_form">
    Test Kit Number :
  </div>
  <div class="answer">
    ${document.querySelector("input[name=name]").value}
  </div>
</div>

<div class="qa-pair">
  <div class="quiestion_form">
    Surname :
  </div>
  <div class="answer">
    ${document.querySelector("input[name=surname]").value}
  </div>
</div>

<div class="qa-pair">
  <div class="quiestion_form">
    Given Name :
  </div>
  <div class="answer">
    ${document.querySelector("input[name=given_name]").value}
  </div>
</div>

<div class="qa-pair">
  <div class="quiestion_form">
    Chinese Name :
  </div>
  <div class="answer">
    ${document.querySelector("input[name=chinese_name]").value}
  </div>
</div>

<div class="qa-pair">
  <div class="quiestion_form">
    HKID :
  </div>
  <div class="answer">
    ${document.querySelector("input[name=hkid_number]").value}
  </div>
</div>

<div class="qa-pair">
  <div class="quiestion_form">
    Passport Number :
  </div>
  <div class="answer">
    ${document.querySelector("input[name=passport_number]").value}
  </div>
</div>

<div class="qa-pair">
  <div class="quiestion_form">
    Date of Birth :
  </div>
  <div class="answer">
    ${document.querySelector("input[name=date_of_birth]").value}
  </div>
</div>

<div class="qa-pair">
  <div class="quiestion_form">
    Gender :
  </div>
  <div class="answer">
    ${document.querySelector("input[name=gender]").value}
  </div>
</div>

<div class="qa-pair">
  <div class="quiestion_form">
    Height :
  </div>
  <div class="answer">
    ${document.querySelector("input[name=height]").value}
  </div>
</div>

<div class="qa-pair">
  <div class="quiestion_form">
    Weight :
  </div>
  <div class="answer">
    ${document.querySelector("input[name=weight]").value}
  </div>
</div>

<div class="qa-pair">
  <div class="quiestion_form">
    Email :
  </div>
  <div class="answer">
    ${document.querySelector("input[name=email]").value}
  </div>
</div>

<div class="qa-pair">
  <div class="quiestion_form">
    Ethnicity :
  </div>
  <div class="answer">
    ${document.querySelector("input[name=ethnicity]").value}
  </div>
</div>
 
<div class="qa-pair">
  <div class="quiestion_form">
    Report Language :
  </div>
  <div class="answer">
    ${document.querySelector("input[name=report_language]").value}
  </div>
</div>

<div class="qa-pair">
  <div class="quiestion_form">
    Postal Address :
  </div>
  <div class="answer">
    ${document.querySelector("input[name=postal_address]").value}
  </div>
</div>

<div class="qa-pair">
  <div class="quiestion_form">
    Postal Code :
  </div>
  <div class="answer">
    ${document.querySelector("input[name=postal_code]").value}
  </div>
</div>

<div class="qa-pair">
  <div class="quiestion_form">
    Phone Number :
  </div>
  <div class="answer">
    ${document.querySelector("input[name=phone_number]").value}
  </div>
</div>

<div class="qa-pair">
  <div class="quiestion_form">
    Medical History :
  </div>
  <div class="answer">
    ${document.querySelector("input[name=medical_history]").value}
  </div>
</div>

<div class="qa-pair">
  <div class="quiestion_form">
    Have participated in test before ? :
  </div>
  <div class="answer">
    ${document.querySelector("input[name=previous_test]").value}
  </div>
</div>
      `


      testkitid = document.querySelector("input[name=name]").value
      document.querySelector('.modal-input').innerHTML = data;
    });

    document.querySelector('.close').onclick = function () {
      document.getElementById('myModal').style.display = 'none';
    };

    document.querySelector('#cancelSubmit').onclick = function () {
      document.getElementById('myModal').style.display = 'none';
    };

    document.getElementById('confirmSubmit').onclick = function () {
      document.getElementById('myModal').style.display = 'none';
      document.querySelector('.requires-validation').removeEventListener('submit', preventDefault);
      document.querySelector('.requires-validation').submit();
      //      window.location.href = `/12p-questions?name=${testkitid}`
    };

    window.onclick = function (event) {
      if (event.target == document.getElementById('myModal')) {
        document.getElementById('myModal').style.display = 'none';
      }
    };

    function preventDefault(event) {
      event.preventDefault();
    }

    document.addEventListener("DOMContentLoaded", function () {
      const url = window.location.href;

      // Create a URL object
      const urlObj = new URL(url);

      // Get the query parameters
      const urlParams = new URLSearchParams(urlObj.search);

      // Get the value of the 'name' parameter
      const nameParam = urlParams.get('name');

      // Display the value in an alert
      if (nameParam !== null) {
        document.getElementById("name").value = nameParam
      }
    })
  </script>
</body>

</html>