<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Check Test Kit Status</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/input-test.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static' , filename='images/biomedl.png')  }}">
</head>

<body>
    <div class="logo">
        <img src="{{url_for('static' , filename='images/Biomed.png' ) }}" alt="" />
    </div>

    <div>
        <div class="form-container">
            <h1>Check Test Kit Status</h1>
            <form action="/check-status" method="post">
                <input name="test-kit-number" type="text" placeholder="Enter your test kit number" required />
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>